* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
// Header
.headerContainer{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px 0rgba(0,0,0,.05);
    z-index: 15!important;
}

.infoReduction{
    background-color: #c94c08;
    text-align: center;
    padding: .2em;
    color: aliceblue;
    font-size: max(1.2vw, 10px);
}

.headerContainer_grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer_grid img{
    width: 11%;
    height: 6%;
}
.headerContainer_grid h1{
    font-size: max(2vw, 12px);
    padding-left: .3em;
}

// Header

.headerMain{
    position: relative;
    width: 100vw;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;

}
.headerContainer{
    position: relative;
}
.headerMain_bgvideo{
    position: relative;
    width: 100vw;
}
// Main
// .headerMain_bgvideo{
//     // position: absolute;
//     overflow: hidden;
//     background: no-repeat center
//     center/cover;
// }

// .headerMain_bgvideo video{
//     width: 100vw;
//     height: 86vh;
//     position: absolute;
//     top: 57%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     object-fit: cover;
// }
// main{
//     margin-top: 20px;
// }


// Main